    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Attendance app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if teacher_logged_in? %>
            
            <li><%= link_to "Log out", teacher_logout_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up",   teacher_signup_path %></li>
            <li><%= link_to "Log in", teacher_login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>